{% extends 'base.html' %}

{% block title %} {{ cafe.name }} {% endblock %}

{% block content %}

<div class="row justify-content-center">

  <div class="col-10 col-sm-8 col-md-4 col-lg-3">
    <img class="img-fluid mb-5" src="{{ cafe.image_url }}">
  </div>

  <div class="col-12 col-sm-10 col-md-8">

    <div class="container">
      <div class="row d-flex">
          <div>
              <h1>{{ cafe.name }}</h1>
          </div>
          {% if g.user %}

          <div class="cafe-id" data-cafe-id="{{cafe.id}}"></div>

          <div>
              <form action="/api/like" method="POST" id="like-form">
                  <button style="display: none;" class="ml-2 pt-2 like" type="submit">
                    <i class="bi bi-heart pt-2 like"></i>
                  </button>
              </form>
          </div>
          <div>
              <form action="/api/unlike" method="POST" id="unlike-form">
                  <button style="display: none;" class="ml-2 pt-2 unlike" type="submit">
                    <i class="bi bi-heart-fill pt-2"></i>
                  </button>
              </form>
          </div>
          {% endif %}
      </div>
  </div>

    <p class="lead">{{ cafe.description }}</p>

    <p><a href="{{ cafe.url }}">{{ cafe.url }}</a></p>

    <p>
      {{ cafe.address }}<br>
      {{ cafe.get_city_state() }}<br>
    </p>

    {% if g.user.admin %}
    <p>
      <a class="btn btn-outline-primary" href="/cafes/{{ cafe.id }}/edit">
        Edit Cafe

      </a>
      <form action="/cafes/{{ cafe.id }}/delete" method="POST">
        <button class="btn btn-outline-danger">Delete Cafe</button>
      </form>

    </p>
    {% endif %}


    <img class="img-fluid" src="/static/maps/{{ cafe.id }}.jpg">

  </div>

</div>
{% endblock %}